<form class="mt-4" method="POST" action="/courses/handle-form-action">
    <div class="container">
        <h2>List Courses</h2>
        <a href="/courses/trash-courses" class="mb-4 d-block">Trash basket ({{numberCourseDeleted}})</a>

        <div class="mt-4 mb-4 d-flex align-items-center">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check-all-courses">
                <label class="form-check-label" for="check-all-courses">Select all</label>
            </div>
            <div class="form-group select-actions-submit-course">
                <select class="form-control" name="action" required>
                    <option value="">-- Select action --</option>
                    <option value="delete">Delete</option>
                </select>
            </div>
            <button type="submit" id="submit-action-btn" class="btn btn-primary disabled">Apply</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col" colspan="3">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.image}}</td>
                    <td><a href="/courses/edit/{{this._id}}" class="btn btn-primary btn-md active" role="button"
                            aria-pressed="true">Update</a>
                    </td>
                    <td><a href="/course/{{this._id}}" class="btn btn-secondary btn-md active" role="button"
                            aria-pressed="true" data-toggle="modal" data-target="#delete-course"
                            data-id="{{this._id}}">Delete</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">You haven't posted any courses yet.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</form>

{{!-- model when click delete button --}}
<div class="modal fade" id="delete-course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete course ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure delete this course ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="delete-course-btn" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- form hidden to support delete course --}}
<form name="delete-course-form" method="POST"></form>

<script>

    document.addEventListener('DOMContentLoaded', function () {

        const formDeleteCourse = document.forms['delete-course-form'];
        const deleteCourseBtn = document.querySelector('#delete-course-btn');
        const selectAllItems = document.getElementById('check-all-courses');
        const checkCourseItems = document.querySelectorAll('input[name="courseIds[]"]');
        const submitActionBtn = document.querySelector('#submit-action-btn');

        let courseId;

        $('#delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id');
        })

        deleteCourseBtn.onclick = function () {

            formDeleteCourse.setAttribute('action', '/courses/' + courseId + '?_method=DELETE');
            formDeleteCourse.submit();
        }

        selectAllItems.onchange = function () {
            const isCheckAll = selectAllItems.checked;
            checkCourseItems.forEach(checkCourseItem => checkCourseItem.checked = isCheckAll);
        }

        checkCourseItems.forEach(checkCourseItem =>
            this.onchange = function () {
                const checkCourseItemsChecked = document.querySelectorAll('input[name="courseIds[]"]:checked');
                selectAllItems.checked = checkCourseItems.length === checkCourseItemsChecked.length;
                if(checkCourseItemsChecked.length > 0) {
                    submitActionBtn.classList.remove('disabled');
                } else {
                    submitActionBtn.classList.add('disabled');
                }
            }
        )

        submitActionBtn.onclick = function(e) {
            if(this.classList.contains('disabled')) {
                e.preventDefault();
            }
        }


    })


</script>